<div class="flex h-full justify-between pb-32 flex-col">
  <div class="fragment custom blur">
    <app-title>Why Angular?</app-title>

    <ul class="space-y-1 list-disc list-inside marker:text-link">
      <li>Maintained by Google</li>
      <li>Easy to adapt for new developers</li>
      <li>Modular architecture</li>
    </ul>
  </div>

  <div class="fragment custom blur">
    <app-title>When we shouldn't use Angular?</app-title>

    <ul class="space-y-1 list-disc list-inside marker:text-link">
      <li>SEO optimized apps e.g. (e-commerce)</li>
      <li>Lightweight apps with static content</li>
      <li>Not that easy to learn</li>
    </ul>
  </div>
</div>
