<div class="flex h-full flex-col">
  <app-title>What is Angular?</app-title>
  <p>
    A robust open-source front-end framework by Google, integrates well-designed libraries for building dynamic, single-page web applications with diverse features
  </p>

  <div class="flex flex-col flex-grow justify-center items-center w-full">
    <img src="assets/angular-full-logo.png" class="!mb-0 shadow-[#ce52f0]" width="600" />
    <h2 class="!font-bold !text-[#ce52f0] uppercase whitespace-nowrap shadow">RENAISSANCE</h2>
  </div>


</div>
