<section data-auto-animate>
  <app-title>Evolution of Web Apps</app-title>
  <h5>Multi Page Apps</h5>
  <div data-id="browser">
    <div class="flex">
      <div class="bg-link flex gap-2 p-4">
        <span class="rounded-full h-4 w-4 bg-red-500 block"></span>
        <span class="rounded-full h-4 w-4 bg-yellow-500 block"></span>
        <span class="rounded-full h-4 w-4 bg-green-500 block"></span>
      </div>
      <div class="flex-grow">
        <span
          class="bg-selection text-black flex h-full pl-4 text-lg items-center"
          >https://domain/dashboard</span
        >
      </div>
    </div>
    <div
      class="flex flex-col gap-4 border border-selection border-solid border-t-0 p-4">
      <div class="border rounded border-solid border-main h-[50px]">
        <span class="flex h-full items-center text-base ml-4">Header</span>
      </div>
      <div class="h-[300px]">
        <div class="flex h-full gap-4">
          <span
            class="items-center rounded w-1/6 flex justify-center text-base border border-solid border-main"
            >Menu</span
          >
          <span
            class="flex-grow rounded flex items-center justify-center text-base border border-solid border-main"
            >Dashboard</span
          >
        </div>
      </div>
      <div class="border border-solid rounded border-main h-[50px]">
        <span class="flex h-full items-center text-base ml-4"> Footer </span>
      </div>
    </div>
  </div>
</section>

<section data-auto-animate>
  <app-title>Evolution of Web Apps</app-title>
  <h5>Multi Page Apps</h5>
  <div data-id="browser">
    <div class="flex">
      <div class="bg-link flex gap-2 p-4">
        <span class="rounded-full h-4 w-4 bg-red-500 block"></span>
        <span class="rounded-full h-4 w-4 bg-yellow-500 block"></span>
        <span class="rounded-full h-4 w-4 bg-green-500 block"></span>
      </div>
      <div class="flex-grow">
        <span
          class="bg-selection text-black flex h-full pl-4 text-lg items-center text-link"
          >https://domain/customer</span
        >
      </div>
    </div>
    <div
      class="flex justify-center items-center h-[465px] border border-t-0 border-solid border-main">
      <div
        class="inline-block h-8 w-8 animate-spin rounded-full border-4 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
        role="status">
        <span
          class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]">
          Loading...
        </span>
      </div>
    </div>
  </div>
</section>

<section data-auto-animate>
  <app-title>Evolution of Web Apps</app-title>
  <h5>Multi Page Apps</h5>
  <div data-id="browser">
    <div class="flex">
      <div class="bg-link flex gap-2 p-4">
        <span class="rounded-full h-4 w-4 bg-red-500 block"></span>
        <span class="rounded-full h-4 w-4 bg-yellow-500 block"></span>
        <span class="rounded-full h-4 w-4 bg-green-500 block"></span>
      </div>
      <div class="flex-grow">
        <span
          class="bg-selection text-black flex h-full pl-4 text-lg items-center text-link"
          >https://domain/customer</span
        >
      </div>
    </div>
    <div
      class="flex flex-col gap-4 border border-selection border-t-0 border-solid p-4">
      <div class="border rounded border-solid border-link h-[50px]">
        <span
          class="flex h-full items-center text-base ml-4 text-link font-bold"
          >Header</span
        >
      </div>
      <div class="h-[300px]">
        <div class="flex h-full gap-4">
          <span
            class="items-center rounded w-1/6 flex justify-center text-base border border-solid border-link text-link font-bold"
            >Menu</span
          >
          <span
            class="flex-grow rounded flex items-center justify-center text-base border border-solid border-link text-link font-bold"
            >Customer</span
          >
        </div>
      </div>
      <div class="border border-solid rounded border-link h-[50px]">
        <span
          class="flex h-full items-center text-base ml-4 text-link font-bold">
          Footer
        </span>
      </div>
    </div>
  </div>
</section>
