<div class="reveal">
  <div class="slides">
    <section>
      <app-greeting />
    </section>
    <section>
      <app-agenda />
    </section>
    <section multi-page-apps></section>
    <section single-page-apps></section>
    <section>
      <what-is-angular />
    </section>
    <section>
      <set-up-dev-env />
    </section>
    <section>
      <create-angular-app />
    </section>
    <section declarables></section>
    <section app-services></section>
    <section>
      <why-angular />
    </section>
    <section>
      <skills-you-need />
    </section>
    <section>
      <who-use-angular />
    </section>
    <section>
      <resources />
    </section>
    <section>
      <app-qa />
    </section>
  </div>
</div>
