@import "reveal.js/dist/reveal.css";
@import "reveal.js/dist/theme/night.css";
@import "reveal.js/plugin/highlight/monokai.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,600,400');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --r-main-font-size: 30px;
  //--r-heading-font: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

@layer base {

  section {
    @apply w-full h-full items-center justify-center;
  }

  p, ul, ol, section {
    @apply text-start
  }

  .fragment.blur {
    filter: blur(5px);
  }
  .fragment.blur.visible.current-fragment {
    filter: none;
  }

  .reveal pre code {
    max-height: 500px !important;
  }
}


