<app-title>Resources</app-title>

<div class="flex justify-around">
  <div class="flex justify-center items-center">
    <div class="flex flex-col justify-center">
      <img class="w-[200px] !mb-0" src="assets/angular-dev-qr.png" />
      <span class="text-xl text-center">angular.dev</span>
    </div>
  </div>

  <div class="flex justify-center">
    <div class="flex flex-col items-center">
      <img class="w-[200px] !mb-0" src="assets/sololearn-course-qr.png" />
      <span class="text-xl text-center">
        sololearn.com/learn/courses/angular
      </span>
    </div>
  </div>
</div>

<div class="flex justify-center mt-4">
  <div class="flex flex-col items-center">
    <img class="w-[200px] !mb-0" src="assets/repository-qr.png" />
    <span class="text-xl text-center">
        github.com/nevzatopcu/angular-101-event
      </span>
  </div>
</div>
